<div class="main-form-content">
  <div class="header-item">
    <h1>Plot Booking Form</h1>
  </div>

  <mat-tab-group>


    <mat-tab label=" Customer Basic Info">


      <form class="customer-basic-info">

        <div class="basic">

          <mat-form-field class="example-full-width">
            <mat-label>Applicant's Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Applicant's In Bangle</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Father's/Husband's Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Father's/Husband's Bangla</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Mother's Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Mother's Name Bangla</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Mailing Address</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Mailing Address Bangla</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Permanent Address</mat-label>
            <input matInput>
          </mat-form-field>
          <br>


          <mat-form-field class="example-full-width">
            <mat-label>Permanent Address Bangla</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
        </div>

        <div class="additional">

          <mat-form-field class="example-full-width">
            <mat-label>Date Of birth</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Phone No (Residence)</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Mobile No</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Nationality</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Religion</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Gender</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>National Id card</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Passport</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
        </div>

      </form>

    </mat-tab>
    <mat-tab label="Customer Occupation">

      <form class="customer-basic-info">
        <mat-form-field class="example-full-width">
          <mat-label>Designation</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Phone NO</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>office Address</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

      </form>

    </mat-tab>
    <mat-tab label="Customer Nominee Info">

      <form class="customer-basic-info">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Name In Bangla</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Phone NO</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Mobile NO</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Relation with the applicant</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput>
        </mat-form-field>
        <br>

      </form>
    </mat-tab>
    <mat-tab label="Project Info">

      <form class="customer-project">

        <div class="choice-of-plot">

          <div class="example-section">
            <span>Name Of the project</span>&nbsp;&nbsp;&nbsp;

            <mat-checkbox class="example-margin">Padma Valley.</mat-checkbox>&nbsp;&nbsp;&nbsp;
            <mat-checkbox class="example-margin">Padmna Eco City.</mat-checkbox>&nbsp;&nbsp;&nbsp;
            <mat-checkbox class="example-margin">Condominium</mat-checkbox>
          </div>
          <br>
          <div class="example-section">
            <span>Type Of Plot</span>&nbsp;&nbsp;&nbsp;
            <mat-checkbox class="example-margin">Residential</mat-checkbox>&nbsp;&nbsp;&nbsp;
            <mat-checkbox class="example-margin">Commercial.</mat-checkbox>&nbsp;&nbsp;&nbsp;
            <mat-checkbox class="example-margin"> Duplex</mat-checkbox>
          </div>
          <br>
          <h2><strong>Choice Of plot</strong></h2>
          <mat-form-field class="example-full-width">
            <mat-label>Plot No</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Plot Road</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Block</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Sector</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Area(Katha)</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
        </div>

      </form>


    </mat-tab>
    <mat-tab label="Price & Payment Mode">
      <form class="customer-project">
        <h2><strong>Price</strong></h2>

        <mat-form-field class="example-full-width">
          <mat-label>Rate Per Katha</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Total Price</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Total price In word</mat-label>
          <input matInput>
        </mat-form-field>
        <br>


        <div class="example-section">
          <span>Mode of payment</span>&nbsp;&nbsp;&nbsp;
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Full Payment</mat-radio-button>&nbsp; Or &nbsp;&nbsp;
            <mat-radio-button value="2">Instrument</mat-radio-button>
          </mat-radio-group>

        </div>

      </form>


    </mat-tab>
    <mat-tab label="Image Upload">

      <div class="image-upload">
        <div class="customer-image">
          <div class="card">
            <div class="card-header">
             Customer Passport size image
            </div>
            <div class="card-body">
              <mat-form-field class="custom-image-mat-field">
                <div>
                  <mat-toolbar>
                    <!-- Display files names -->
                    <input matInput [(ngModel)]="fileAttrForCustomer" readonly name="name"/>

                    <!-- Browse Button -->
                    <button mat-flat-button color="primary">
                      Browse File
                    </button>
                  </mat-toolbar>

                  <!-- Fetch selected filed on change -->
                  <input type="file" id="uploadFileForCustomer" (change)="customerImageUpload($event)" name="uploadFile"
                         multiple="multiple"
                         accept="image/*"/>
                </div>
              </mat-form-field>
            </div>

            <div class="card-footer">
              <div><img src="{{customerImage}}" width="300px" alt="customer"></div>
            </div>
          </div>
        </div>
        <div class="nominee-image">
          <div class="card">
            <div class="card-header">
              Nominee Passport size image
            </div>
            <div class="card-body">
              <mat-form-field class="custom-image-mat-field">
                <div>
                  <mat-toolbar>
                    <!-- Display files names -->
                    <input matInput [(ngModel)]="fileAttrForNominee" readonly name="name"/>

                    <!-- Browse Button -->
                    <button mat-flat-button color="primary">
                      Browse File
                    </button>
                  </mat-toolbar>

                  <!-- Fetch selected filed on change -->
                  <input type="file" id="uploadFile" (change)="nomineeImageUpload($event)" name="uploadFile"
                         multiple="multiple"
                         accept="image/*"/>
                </div>
              </mat-form-field>
            </div>

            <div class="card-footer">
              <div><img src="{{nomineeImage}}" width="300px" alt="nominee"></div>
            </div>
          </div>
        </div>
      </div>


    </mat-tab>
  </mat-tab-group>

</div>
